
<!--footer-->
<footer>
	<div class="container">
		<div class="footer__requisites">
			<div class="footer__requisites-list">
				<p>ООО «ХАР» ИНН 1650292810</p>
				<p>КПП 502443001</p>
				<p>ОГРН 1141650016540</p>
			</div>
			<div class="footer__desc">Официальный дистрибьютор в России</div>
		</div>
		<div class="footer__menu">
			<div class="footer__menu_list"><a class="anchor" href="#about">о компании</a><a class="anchor" href="#prime">Серия prime</a><a class="anchor" href="#service">сервис</a><a class="js_openPopup" href="">связаться с нами</a><a class="info" href="mailto:info@ge-appliances.ru">info@ge-appliances.ru</a><a class="info" href="tel:8-800-707-9620">8-800-707-9620</a></div>
		</div>
	</div>
</footer>