
<!--header-->
<header id="top_nav">
	<div class="container"><a href="http://www.ge-appliances.ru/" target="blank"><img class="header__logo" src="template/img/header/logo.svg" alt=""/></a>
		<div class="header__btn_menu"></div>
		<div class="header__menu">
			<div class="header__menu_list"><a class="header__menu_link anchor" href="#about">о компании</a><a class="header__menu_link anchor" href="#geAppliances">КОНДИЦИОНЕРЫ GE APPLIANCES</a><a class="header__menu_link anchor" href="#prime">Серия prime</a><a class="header__menu_link anchor" href="#service">сервис</a><a class="connect js_openPopup" href="">связаться с нами</a></div>
		</div>
	</div>
	<div class="header__menu_mob">
		<div class="container"><img class="header__menu_close" src="template/img/header/close.svg" alt=""/>
			<div class="header__menu_list"><a class="header__menu_link anchor-mob" href="#about">о компании</a><a class="header__menu_link anchor-mob" href="#geAppliances">КОНДИЦИОНЕРЫ GE APPLIANCES</a><a class="header__menu_link anchor-mob" href="#prime">Серия prime</a><a class="header__menu_link anchor-mob" href="#service">сервис</a><a class="connect js_openPopup" href="">связаться с нами</a></div>
			<div class="header__menu_contacts"><a class="mail" href="http://www.ge-appliances.ru/" target="blank">www.ge-appliances.ru</a><a class="phone" href="tel:8-800-707-9620">8-800-707-9620</a></div>
		</div>
	</div>
</header>